h1{text-align:center;padding-left: 50px;}
table{text-align: center;   margin: auto;  width:50%;}
body{font-style:"맑은 고딕";}
td>table>tr{background-color: #666666;}
table{border:3}

td>a{color:#ffffff; font-weight: bold;}
title{padding-left: 50px;}
